html, body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 26px;
}

.links > a {
    color: #333;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.col-rank{
    width: 26px;
}

.th-name{
    width: 162px;
}

.th-price{
    width: 72px;
}

.th-marketcap{
    width: 121px;
}

.th-volume{
    width: 103px;
}

.th-change{
    width: 93px;
}

.th-marketcap-graph{
    width: 166px;
}

.light-blue {
    background-color: #F6FCFC;
}

.blue{
    background-color: #D6F0F1;
}
.dark-blue{
    background-color: #9ED4F8;
}