<div class="container">
  <h3>My Favorites</h3>
  <table class="table" *ngIf="favorites.length > 0">
    <thead>
    <tr>
      <th class="text-center">
        Rank#
      </th>
      <th>
        Name
      </th>
      <th>
        Amount
      </th>
      <th>
        Value
      </th>
      <th class="text-right">
        Market Cap
      </th>
      <th class="text-right">
        Price
      </th>
      <th class="text-right">
        Price Graph (7d)
      </th>
      <th>

      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currencyItem of favorites">
      <td class="text-left">
        {{currencyItem.dayStat.rank}}
        <b class="text-success" [hidden]="currencyItem.changeStat.rank <= 0">(+{{currencyItem.changeStat.rank}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.rank >= 0">({{currencyItem.changeStat.rank}})</b>
      </td>
      <td class="no-wrap">
        <span class="currency-symbol">{{currencyItem.coin.name}}</span>
      </td>
      <td class="no-wrap">
        <a (click)="editAmountOf(currencyItem.coin.id, currencyItem.userAmount)"
           [hidden]="editCoinId == currencyItem.coin.id">{{currencyItem.userAmount | number : '1.0-10'}}</a>
        <input [hidden]="editCoinId != currencyItem.coin.id"
               [(ngModel)]="editAmount"
               (keydown.escape)="cancelEditedAmount()"
               (keydown.enter)="applyEditedAmount()"
               type="text"
               (blur)="cancelEditedAmount()"
               id="favorite-amount-{{currencyItem.coin.id}}">
      </td>
      <td class="no-wrap">
        {{currencyItem.userAmount * currencyItem.dayStat.priceUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.priceUsd <= 0">(+{{currencyItem.changeStat.priceUsd * currencyItem.userAmount |
          currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.priceUsd >= 0">({{currencyItem.changeStat.priceUsd * currencyItem.userAmount |
          currency}})</b>
      </td>
      <td class="no-wrap text-right">
        {{currencyItem.dayStat.marketCapUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.marketCapUsd <= 0">(+{{currencyItem.changeStat.marketCapUsd
          | currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.marketCapUsd >= 0">({{currencyItem.changeStat.marketCapUsd
          | currency}})</b>
      </td>
      <td class="no-wrap text-right">
        {{currencyItem.dayStat.priceUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.priceUsd <= 0">(+{{currencyItem.changeStat.priceUsd |
          currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.priceUsd >= 0">({{currencyItem.changeStat.priceUsd |
          currency}})</b>
      </td>
      <td class="text-right">
        <coin-price-chart [data]="currencyItem.chartData"></coin-price-chart>
      </td>
      <td class="text-center">
        <a href="#" (click)="removeFromFavorites(currencyItem.coin.id)" title="Remove from favorites"><i
          class="text-danger glyphicon glyphicon-minus-sign"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control"
               placeholder="Please enter the name of your favorite coin..."
               (keydown.enter)="findFavorites()">
        <span class="input-group-addon btn" (click)="findFavorites()"><i
          class="glyphicon glyphicon-search"></i></span>
      </div>
      <div class="alert alert-info" *ngIf="noMatched">No matched coins found</div>
      <div class="panel panel-default" *ngIf="foundCoins.length > 0">
        <div class="panel-heading">Found coins</div>
        <div class="panel-body">
          <table class="table">
            <tbody>
            <tr *ngFor="let coin of foundCoins">
              <td class="no-wrap">
                <span class="currency-symbol">{{coin.name}}</span>
              </td>
              <td class="text-center">
                <span [hidden]="!isFavorite(coin.id)"><i class="favorite glyphicon glyphicon-star"></i></span>
                <a href="#" [hidden]="isFavorite(coin.id)" (click)="addToFavorites(coin.id)"><i
                  class="not-favorite glyphicon glyphicon-star-empty" title="Add to favorites"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <h3>Top 10 cryptocurrency by volume growth from Top 100 by capitalization</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">
        Rank#
      </th>
      <th>
        Name
      </th>
      <th>

      </th>
      <th class="text-right">
        Market Cap
      </th>
      <th class="text-right">
        Price
      </th>
      <th class="text-right">
        Price Graph (7d)
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currencyItem of topTenByVol">
      <td class="text-left">
        {{currencyItem.dayStat.rank}}
        <b class="text-success" [hidden]="currencyItem.changeStat.rank <= 0">(+{{currencyItem.changeStat.rank}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.rank >= 0">({{currencyItem.changeStat.rank}})</b>
      </td>
      <td class="no-wrap">
        <span class="currency-symbol">{{currencyItem.coin.name}}</span>
      </td>
      <td class="text-center">
        <span [hidden]="!isFavorite(currencyItem.coin.id)"><i class="favorite glyphicon glyphicon-star"></i></span>
        <a href="#" [hidden]="isFavorite(currencyItem.coin.id)" (click)="addToFavorites(currencyItem.coin.id)"
           title="Add to favorites"><i class="not-favorite glyphicon glyphicon-star-empty"></i></a>
      </td>
      <td class="no-wrap text-right">
        {{currencyItem.dayStat.marketCapUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.marketCapUsd <= 0">(+{{currencyItem.changeStat.marketCapUsd
          | currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.marketCapUsd >= 0">({{currencyItem.changeStat.marketCapUsd
          | currency}})</b>
      </td>
      <td class="no-wrap text-right">
        {{currencyItem.dayStat.priceUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.priceUsd <= 0">(+{{currencyItem.changeStat.priceUsd |
          currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.priceUsd >= 0">({{currencyItem.changeStat.priceUsd |
          currency}})</b>
      </td>
      <td class="text-right">
        <coin-price-chart [data]="currencyItem.chartData"></coin-price-chart>
      </td>
    </tr>
    </tbody>
  </table>
  <h3>Top 10 cryptocurrency by price gain with marketcap &gt; $100mln</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">
        Rank#
      </th>
      <th>
        Name
      </th>
      <th>

      </th>
      <th class="text-right">
        Market Cap
      </th>
      <th class="text-right">
        Price
      </th>
      <th class="text-right">
        Price Graph (7d)
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currencyItem of topTenByPrice">
      <td class="text-left">
        {{currencyItem.dayStat.rank}}
        <b class="text-success" [hidden]="currencyItem.changeStat.rank <= 0">(+{{currencyItem.changeStat.rank}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.rank >= 0">({{currencyItem.changeStat.rank}})</b>
      </td>
      <td class="no-wrap">
        <span class="currency-symbol">{{currencyItem.coin.name}}</span>
      </td>
      <td class="text-center">
        <span [hidden]="!isFavorite(currencyItem.coin.id)"><i class="favorite glyphicon glyphicon-star"></i></span>
        <a href="#" [hidden]="isFavorite(currencyItem.coin.id)" (click)="addToFavorites(currencyItem.coin.id)"
           title="Add to favorites"><i
          class="not-favorite glyphicon glyphicon-star-empty"></i></a>
      </td>
      <td class="no-wrap text-right">
        {{currencyItem.dayStat.marketCapUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.marketCapUsd <= 0">(+{{currencyItem.changeStat.marketCapUsd
          | currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.marketCapUsd >= 0">({{currencyItem.changeStat.marketCapUsd
          | currency}})</b>
      </td>
      <td class="no-wrap text-right">
        {{currencyItem.dayStat.priceUsd | currency}}
        <b class="text-success" [hidden]="currencyItem.changeStat.priceUsd <= 0">(+{{currencyItem.changeStat.priceUsd |
          currency}})</b>
        <b class="text-danger" [hidden]="currencyItem.changeStat.priceUsd >= 0">({{currencyItem.changeStat.priceUsd |
          currency}})</b>
      </td>
      <td class="text-right">
        <coin-price-chart [data]="currencyItem.chartData"></coin-price-chart>
      </td>
    </tr>
    </tbody>
  </table>
</div>
